@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model ShoppingOnline.Models.Product

@{
    ViewData["Title"] = "Details";    

}


<h1>Details</h1>
<div class="product-details">
    <div class="product-image">
        <img src="@Model.ImageUrl" alt="@Model.Name" />
    </div>
    <div class="product-info">
        <h2>@Model.Name</h2>
        <p>@Model.Description</p>
        <p class="product-price">Price: $@Model.Price</p>
        <p class="product-quantity">Quantity: @Model.Quantity</p>
        <p class="product-genre">Genre: @Model.Genre.Name</p>
        <a asp-action="addCart" asp-route-id="@Model.Id" class="btn">Add to cart</a>
        
    </div>
</div>


@if (User != null)
{
    if (User.IsInRole("Admin"))
    {
        
        <div class="product-actions">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn">Edit</a>            
        </div>
    }
    <a asp-action="Index" class="btn">Back to List</a>
}

